body {
    margin: 0;
    overflow: hidden;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #aca07f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    z-index: 10;
    background-image: url('../assets/Bricks092_2K-JPG/Bricks092_2K-JPG_Color.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#menu h1 {
    font-family: Arial, sans-serif;
    font-size: 10em;
    font-weight: bold;
    margin-bottom: 20px;
}

#menu img {
    max-width: 400px;
    margin-bottom: 0px;
    margin-top: -200px;
}

#menu button, #controls button {
    width: 150px;
    height: 50px;
    background: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    transition: transform 0.2s ease;
    margin: 5px;
}

#menu button:hover, #controls button:hover {
    transform: scale(1.025);
}

#menu button:active, #controls button:active {
    transform: scale(0.975);
}

#controls {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000000;
    font-family: Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-image: url('../assets/Bricks092_2K-JPG/Bricks092_2K-JPG_Color.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

#controls ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;

    height: 350px;
    width: 350px;
    background-image: url('../assets/BlueBall.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls ul li {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 3px 0;
}

#controls button {
    margin-top: 20px;
}
